# xoblite bb3 - default menu file
# (lines beginning with the '#' character are ignored)

[begin] (Start Menu)



	[submenu] (Applications)
		[exec] (Google Chrome)			{"$ProgramFiles$\Google\Chrome\Application\Chrome.exe"}
		[exec] (Hyper-V Manager)		{"c:\Program Files\5nine\5nine Manager for Hyper-V\5nine.Manager.exe"}
		[exec] (Notepad)			{notepad.exe}
		[exec] (RDP Client)			{"C:\Program Files\2X\Client\AppServerClient.exe"}
		[exec] (WinRar)				{"C:\Program Files\winrar\winrar.exe"}
 	[end]
	
	[exec] (Command Prompt)				{cmd.exe}
	[exec] (Explorer)				{"%SystemRoot%\explorerapp.exe"}
	[run] (Run...)

	[submenu] (System)

		[exec] (CoreFig)			{"C:\Scripts\manage.exe"}
		[exec] (Device Manager)			{"C:\Windows\devmanview.exe"}
		[exec] (Hard Drive Diagnostic)		{"C:\winshell\bst5.exe"}
		[exec] (Network Config)			{"C:\Windows\NetworkInterfacesView.exe"}
		[exec] (PowerShell)			{"C:\windows\system32\window~1\v1.0\powershell.exe"}
		[exec] (Process Explorer)		{"C:\Windows\procexp.exe"}
      		[exec] (Regedit)			{regedit.exe}
		[exec] (System Information)		{"C:\Windows\SysWOW64\msinfo32.exe"}
		[exec] (Task Manager)			{"C:\Windows\SysWOW64\LaunchTM.exe"}
		[exec] (Text Hyper-V Core Manger)	{"C:\windows\log.txt"}




    [separator]
[submenu] (BlackBox)
        [config] (Configuration)
        [submenu] (Edit)
            [editstyle] (Current Style)
            [editmenu] (menu.rc)
            [editblackbox] (blackbox.rc)
            [editextensions] (extensions.rc)
            [editplugins] (plugins.rc)
            [nop]
            [edit] (BBKeys.rc) {plugins\BBKeys\BBKeys.rc}
            [edit] (TaskBar Config) {plugins\boxbar\boxbar.rc}

        [end]
        [nop]

    [end]

    [separator]

 	[end]


	
    [separator]

  	[submenu] (Shutdown Menu)
	[exec] (LogOff)					{"C:\Windows\System32\Logoff.exe"}
	[exec] (Reboot)					{"C:\Scripts\restart.exe"}
	[exec] (Shutdown)				{"C:\Scripts\shutdown.exe"}
  	[end]
    [separator]
[end]
