bbIconBox.id.count:                     1
bbIconBox.id.1:                         documents
bbIconBox.documents.path:               C:\WinSHell\ShortCuts\
bbIconBox.documents.title:              documents
bbIconBox.documents.rows:               10
bbIconBox.documents.columns:            1
bbIconBox.documents.icon.size:          48
bbIconBox.documents.icon.saturation:    100
bbIconBox.documents.icon.hue:           0
bbIconBox.documents.drawTitle:          false
bbIconBox.documents.drawBorder:         false
bbIconBox.documents.toolTips:           true
bbIconBox.documents.placement:          Left
bbIconBox.documents.position.x:         -4
bbIconBox.documents.position.y:         25
bbIconBox.documents.useSlit:            false
bbIconBox.documents.OnTop:              false
bbIconBox.documents.autoHide:           false
bbIconBox.documents.clickRaise:         true
bbIconBox.documents.snapToEdge:         true
bbIconBox.documents.pluginToggle:       true
bbIconBox.documents.alpha.enabled:      false
bbIconBox.documents.alpha.value:        64
bbIconBox.documents.orientation:        horizontal
