<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="CorefigPath" value="..\..\..\Corefig" />
    <add key="ExploerPlusPath" value="..\..\..\explorer++" />
    <add key="FiveNinePath" value="..\..\..\5nineManager" />
    <add key="Website" value="http://jedi0605.github.io/Vanquisher/" />
  </appSettings>
</configuration>
