<Configuration>
  <Version>2.0.1</Version>
  <ServerList />
  <RefreshTimeout>5</RefreshTimeout>
  <SiteName>CloudNetCanada Inc</SiteName>
  <SiteKey>bMQs9bkJhiHPcdQ5DA3n5lJP1Y47m8s8v/8WpMjDxa3a3DoEX9FLoCFOppvEaOam</SiteKey>
  <UserKey>xLWNPdw545Gn/Fl4l/uPig==</UserKey>
  <TreeView>true</TreeView>
</Configuration>