session.screen0.slit.placement: BottomRight
session.screen0.slit.direction: Horizontal
session.screen0.slit.onTop: true
session.screen0.slit.autoHide: false
session.screen0.toolbar.onTop: true
session.screen0.toolbar.autoHide: false
session.screen0.toolbar.placement: Manual x10 y10
session.screen0.toolbar.widthPercent: 66
session.screen0.workspaces: 4
session.screen0.focusLastWindow: false
session.screen0.windowPlacement: ColSmartPlacement
session.screen0.colPlacementDirection: TopToBottom
session.screen0.workspaceNames: workspace one,workspace two,workspace three,workspace four
session.screen0.focusNewWindows: true
session.screen0.rowPlacementDirection: LeftToRight
session.screen0.fullMaximization: false
session.screen0.strftimeFormat: %I:%M %p
session.screen0.edgeSnapThreshold: 10
session.screen0.focusModel: ClickToFocus
session.styleFile: $CurrentTheme$\styles\solid-n-pale
session.cacheLife: 5
session.cacheMax: 200
session.opaqueMove: true
session.doubleClickInterval: 250
session.autoRaiseDelay: 50
session.menuFile: $CurrentTheme$\menu.rc
session.colorsPerChannel: 4
session.imageDither: false
