# xoblite bb3 - DockingItAll menu file
# (lines beginning with the '#' character are ignored)

[begin] (DockingItAll)
	[exec] (explorer)				{explorer.exe /e,c:\}
	[path] (start)					{"$StartMenu$"|"$CommonStartMenu$"}
	[submenu] (xoblite)
		[exec] (about...)			{$Blackbox$\Blackbox.exe -about}
		[separator]
		[exec] (check for updates..)		{@xoblite CheckForUpdates}
		[separator]
	    	[submenu] (documentation)
			[exec] (readme)			{$Blackbox$\docs\readme.txt}
			[exec] (online docs)		{http://xoblite.net/docs/}
		    	[submenu] (change logs)
				[exec] (xoblite bb3)	{$Blackbox$\docs\changes_bb3.txt}
				[exec] (xoblite bb2)	{http://xoblite.net/docs/changes_bb2.txt}
				[exec] (xoblite bb1)	{http://xoblite.net/docs/changes_bb1.txt}
				[exec] (legacy)		{http://xoblite.net/docs/changes_legacy.txt}
		   	[end]
			[exec] (license)		{http://xoblite.net/license.html}
	   	[end]
	    	[submenu] (installation)
			[exec] (-install)		{$Blackbox$\Blackbox.exe -install}
			[exec] (-uninstall)		{$Blackbox$\Blackbox.exe -uninstall}
	   	[end]
	  	[config] (configuration)
		[workspaces] (workspaces)
	    	[submenu] (styles)
		     	[editstyle] (edit current style)
		     	[aboutstyle] (about current style...)
			[separator]
		    	[nop] (-> Use the mid click styles menu! <-)
	   	[end]
	     	[themesmenu] (themes)
		[path] (wallpapers)			{"$Blackbox$\backgrounds"}
		[path] (xoblite folder)			{"$Blackbox$"}
		[path] (current theme folder)		{"$CurrentTheme$"}
		[separator]
		[editmenu] (edit menu.rc)
		[editextensions] (edit extensions.rc)
		[editblackbox] (edit blackbox.rc)
		[restart] (restart)
		[reconfig] (reconfigure)
		[exit] (quit)
	[end]	
  	[submenu] (shutdown menu)
  		[lockworkstation] (lock workstation)
  		[shutdown] (shutdown)
  		[reboot] (reboot)
  		[logoff] (log off)
  		[hibernate] (hibernate)
  		[suspend] (suspend)
  	[end]
[end]
