
! ================================================ xoblite [theme specific settings] ======

! ---------------------------------------- Toolbar ------
xoblite.toolbar.hidden: true
xoblite.toolbar.snapToEdges: false
xoblite.toolbar.transparency.alpha: 255

! -------------------------------------- Systembar ------
xoblite.systembar.hidden: false
xoblite.systembar.placement: DockedToSlit
xoblite.systembar.onTop: true
xoblite.systembar.snapToEdges: false
xoblite.systembar.widthPercent: 33
xoblite.systembar.tooltips.disable: true
xoblite.systembar.transparency.alpha: 255
xoblite.systembar.firstInSlit: false
xoblite.systembar.xobloon.notifications: true

! ---------------------------------------- SysTray ------
xoblite.systray.hidden: false
xoblite.systray.saturation: 30
xoblite.systray.hue: 100

! ---------------------------------------- Taskbar ------
xoblite.taskbar.hidden: false
xoblite.taskbar.placement: Systembar
xoblite.taskbar.mode: Bars+Icons
xoblite.taskbar.currentOnly: false
xoblite.taskbar.flashing: true
xoblite.taskbar.saturation: 30
xoblite.taskbar.hue: 100
xoblite.taskbar.active.SatHue: false
xoblite.taskbar.inactive.background: false

! ------------------------------------------- Slit ------
xoblite.slit.hidden: false
xoblite.slit.snapToEdges: false
xoblite.slit.transparency.alpha: 255
xoblite.slit.positioning: Puzzle

! ------------------------------------------- Menu ------
xoblite.menu.transparency.alpha: 255
xoblite.menu.separators: true

! ---------------------------------- Miscellaneous ------
xoblite.plugins.hidden: false
xoblite.autohide.speed: 10
xoblite.alternative.bullets: false
xoblite.force.font.shadows: false
xoblite.write.protection: true
xoblite.disable.script.support: false
xoblite.desktop.area: 4 4 4 19

! =========================================================================================
